MONGO_ROOT_PASSWORD=root
MONGO_ROOT_USERNAME=root
MONGO_USER=bar
MONGO_PASSWORD=baz
MONGO_DATABASE=test
MONGO_HOST=wah_db
MONGO_PORT=27017

API_HOST=localhost
API_PORT=8080

SECRET=supersecret

FE_PORT=8888